{% extends "open511/base.html" %}

{% block headertitle %}Development site{% endblock %}

{% block content %}
<h1>API Draft</h1>
	<p>We&rsquo;re currently drafting an API spec for sharing road data, with help from several collaborators. <a href="http://open511.org/documentation.html">Read the draft</a>, and <a href="http://github.com/opennorth/Open511API/issues">provide comments</a>.
	<h1>Implementation demo</h1>
	<p>Explore a live but incomplete demo of the <a href="{% url "open511_discovery" %}">browseable API</a>, and of a <a href="{% url "o5ui_home" %}">map-based interface</a>.</p>
{% endblock %}